:root {
  --clr-pink : #ff5a75;
  --clr-light-grey: #dfe4ea;
  --clr-black: #2f3640;
  --transition: 0.3s;
  --font-if: 'Indie flower', sans-serif;
  --bgcolor: #e9f2f3;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: initial;
}
ol, li{
  list-style: none;
}
img{
  width: 100%;
}
h1{
  font-family: var(--font-if);
  font-size: 2rem;
}
h2{
  font-family: var(--font-if);
  font-size: 2rem;
}
.font-if{
  font-family: var(--font-if);
}
.btn-primary{
  background: var(--clr-pink);
  color: white;
  border-radius: 50px;
  padding: 15px 20px;
  border: 2px solid var(--clr-pink);
  transition: var(--transition);
}
.btn-secondary{
  background: var(--clr-light-grey);
  color: var(--clr-black);
  border-radius: 50px;
  padding: 15px 20px;
  border: 2px solid var(--clr-light-grey);
  transition: var(--transition);
}
.btn-primary:hover{
  background: white;
  color: var(--clr-pink);
  border: 2px solid var(--clr-pink);
  transition: var(--transition);
}
.btn-secondary:hover{
  background: white;
  color: var(--clr-black);
  border: 2px solid var(--clr-black);
  transition: var(--transition);
}
.logo {
  max-width: 170px;
}
header#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.card {
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px lightgrey;
}
.card .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .card-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.top-section{
  margin-top: 100px;
  background: #8db9a5;
  color: white;
}
.top-section-btn {
  margin-top: 40px;
}
.section{
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.top-section-content{
  width: 100%;
  position: relative;
}
.top-section-text {
  width: 85%;
}
.bg-image{
  background-image: url('/assets/img/top-img.webp');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.bg-image span {
  position: absolute;
  top: 0;
  left: -40px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, rgb(141 185 165) 21%, rgba(110, 138, 153, 0) 100%);
}

.section.bgcolor {
  background: var(--bgcolor);
}

@media (min-width: 769px){
  .section{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}